HTML{
    font-size:62.5%;
    -webkit-text-size-adjust: none;
}
*{
    box-sizing:border-box;
}

body{
    margin:0;
}
.box{
    width:100vw;
    height:95vh;
    background-color:#f0f2f5;
    display:block;
    position:relative;
}
.box-content{
    display:block;
    width:fit-content;
    height:fit-content;
    margin:auto auto;
    zoom:1.2;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%)
}
.form-box{
    width:398px;
    height:fit-content;
    border-radius:6px;
    margin:auto;
    background-color:#ffff;
    border:1px solid #dddfe2;
    box-shadow:4px 8px 16px rgba(0,0,0,0.10);
    padding-bottom:24px;
}
.form-box > div:nth-child(1){
    display:block;
    text-align:center;
    font-size:1.998rem;
    font-family:Helvetica, Arial, sans-serif;
    padding:24px 0 16px 0;
    margin:0;
    color:rgba(0,0,0,0.6);

}
.form-box > .form > form > div:nth-child(1){
    padding: 0 12px;
    margin:0;
    display:block;
}
.form-box > .form > form > div:nth-child(2){
    margin:0;
    display:block;
}

.FB-logo{
    display:block;
    width:23.994rem;
    margin:0 auto;
}
.input{
    display:block;
    font-size:1.998rem;
    line-height:24px;
    font-family:Helvetica, Arial, sans-serif;
    padding:14px;
    margin:16px 0;
    width:100%;
    border:1px solid #dddfe2;
    border-radius:6px;
    color:rgba(0,0,0,0.6);
}
.input:nth-child(2){
    display:flex;
    align-items:center;
    flex-wrap:wrap;
}

.input::placeholder{
    color:rgba(0,0,0,0.3);
}

.input:focus{
    border:1px solid #dddfe2;
    outline:none;
}
.input:focus::placeholder{
    color:#dddfe2;
}


.PW{
    padding:0;
    width:auto;
    margin:0 auto;
    margin-left:0;
    flex-shrink:1;
    border:none;
    font-size:1.998rem;
    line-height:2.4rem;
    color:rgba(0,0,0,0.6);
}
.PW::placeholder{
    color:rgba(0,0,0,0.3);
}

.PW:focus{
    outline:none; 
}

.PW:focus::placeholder{
    color:#dddfe2;
}

.input > div{
    width:4rem;
    height: 2.4rem;
    margin:auto;
    margin-right:0;
    position:relative;
}
.input > div > span{
    display:block;
    width:fit-content;
    height:fit-content;
    font-size:1.6rem;
    line-height:0;
    margin:auto;
    position:absolute;
    right:0;
    top:50%;
    transform:translateY(-50%);
    color:rgba(0,0,0,0.3);
}

.input > div > span::before{
    font-size:1em;
}

.Li-button{
    display:block;
    margin:16px 0;
    padding:calc((48px - 1.11rem)/2);
    font-size:1.998rem;
    line-height:1.998rem;
    font-family:Helvetica, Arial, sans-serif;
    font-weight:600;
    width:100%;
    border:none;
    border-radius:6px;
    background-color:#1877f2;
    color:#ffff;
    cursor:pointer;
}

.FP-button{
    display:block;
    margin:0;
    margin-bottom:16px;
    font-size:1.6rem;
    font-family:Helvetica, Arial, sans-serif;
    background-color:unset;
    color:#1877f2;
    text-decoration:none;
    text-align:center;
    border:none;
    width:100%;
}
.divider{
    display:flex;
    align-items:center;
    padding:0 6px;
    margin:16px 0;
}

.d-l{
    height:1px;
    width:100%;
    background-color:#dddfe2;
}
.divider > div:not(.d-l){
    color:#96999e;
    font-size:0.78rem;
    line-height:0.78rem;
    margin:0 8px;
    font-family:Helvetica, Arial, sans-serif;
    
}
.NA-button{
    display:block;
    margin:16px auto 0 auto;
    padding:calc((48px - 1.11rem)/2);
    font-size:1.998rem;
    line-height:1.998rem;
    font-family:Helvetica, Arial, sans-serif;
    font-weight:600;
    width:fit-content;
    border:none;
    border-radius:6px;
    background-color:#42b72a;
    color:#ffff; 
    cursor:pointer;    
}
footer{
    width:100vw;
    padding:40px 0; 
}
footer > div{
    width:75vw;
    margin:0 auto;
}
.langs{
    border-bottom:1px solid #dddfe2;
}
.langs ol{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    list-style:none;
    padding:0;
    margin: 8px 0 ;
}
.langs > ol > li{
    display:block;
    margin-right:8px;
    padding:0;
    height:2.7rem

}


.langs > ol > li > a{
    text-decoration:none;
    color:#96999e;
    font-size:1.8rem;
    line-height:2.7rem;
    font-family:Helvetica, Arial, sans-serif;

}
.langs > ol > li:last-child{
    height:fit-content;
}
.langs > ol > li:last-child > button{
    display:block;
    border:none;
    padding:0 8px;
    padding-top:calc((1.8rem - 1.0998rem) /2);
    padding-bottom:calc((1.8rem - 1.0998rem) /2);
    border-radius:4px;
    background-color:#f0f2f5;
    box-shadow:0 0 2px #96999e67 inset;
}
.langs > ol > li:last-child > button >span{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:1.0998rem;
    font-weight:500;
    line-height:1.0998rem;
    color:#96999e;
}

.langs > ol > li:last-child > button >span:before{
    font-size:1em; 
    line-height:1em 
}

.first-b ol{
    display:flex;
    flex-wrap:wrap;
    list-style:none;
    padding:0;
    margin:8px 0;
    margin-top:24px;
}

.first-b > ol > li{
    display:block;
    margin-right:8px;
    padding:0;

}


.first-b > ol > li > a{
    text-decoration:none;
    color:#96999e;
    font-size:1.8rem;
    line-height:2.7rem;
    font-family:Helvetica, Arial, sans-serif;

}

.sec-b ol{
    display:flex;
    flex-wrap:wrap;
    list-style:none;
    padding:0;
    margin:8px 0;
}

.sec-b > ol > li{
    display:block;
    margin-right:8px;
    padding:0;

}


.sec-b > ol > li > a{
    text-decoration:none;
    color:#96999e;
    font-size:1.8rem;
    line-height:2.7rem;
    font-family:Helvetica, Arial, sans-serif;

}

@media only screen and (max-height:2000px) and (min-height:1200px){
    .box-content{
        zoom:1.75;
    } 
}

@media only screen and (max-height:1200px) and (min-height:930px){
    .box-content{
        zoom:1.5;
    } 
}

@media(max-height:700px){
    .box-content{
        zoom:normal;
    } 
}
@media(max-width:500px){
    .box{
        width:100vw;
    }
    .box-content{
        width:100%;
    }
    .form-box{
        width:100%;
        box-shadow:none;
        border-radius:0;
        border:none;
        padding-bottom:24px;
    }
}
@media(max-width:390px){
    HTML{
        font-size:48%;   
    }
}